body {
  overflow: hidden;
}

.array-container {
  padding-top: 20px;
  background-color: rgb(230, 230, 230);
  height: 90vh;
}

.array-bar {
  position: relative;
  width: 50px;
  display: inline-block;
  margin: 1.25px;
  margin-top: 35px;
  transition: all 0.3s ease;
}

.array-bar:hover {
  background-color: green !important;
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}
