body {
  overflow: hidden;
}

.array-container {
  padding-top: 20px;
  background-color: rgb(230, 230, 230);
  /* background-color: brown; */
  height: 90vh;
}

.array-bar {
  position: relative;
  /* top: 25px; */
  width: 15px;
  display: inline-block;
  margin: 1px;
  margin-top: 41px;
}
